.box{
    display: block;
    align-items: center;
    justify-content: space-between;
    
   
}
.card{
    margin: 0 auto;
    margin-bottom: 40px;
}

.depoimentos{
    height: 550px;
    width: 550px;
    
}

@media (max-width: 650px) {
    .depoimentos{
        height: 450px;
        width: 450px;
        
    }

}

@media (max-width: 500px) {
    .depoimentos{
        height: 350px;
        width: 350px;
        
    }

}

@media (max-width: 400px) {
    .depoimentos{
        height: 300px;
        width: 300px;
        
    }

}