@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}


header{

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/bg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 1000;
    margin-bottom: 10px;
   
}


.menu{
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    box-sizing: border-box;
}


.logo{
    height: 40px;
    width: auto;
}

.textodonav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

nav ul li a{
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    
    color: #0965ce;;
    transition: 0.5s;
}

.bx-menu{
    display: none;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    margin-top: 10px;
    padding-top: 0px;
}

.btncontato{
    color: #ffffff;
    background: #0965ce;
    border:solid 1px #ffffff;
    padding: 4px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
}

.btncontato:hover{
    transform: scale(1.1);
    background-color: #161d25;
    color: #fff;
    transition: 0.5s;
}


.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    margin-top: 30px;
}

.content h1{
    font-size: 70px;
    color: #0965ce;
    margin-right: 20px;
   
}

.content h3{
    color: white;
    letter-spacing: 2px;
    font-size: 25px;

}

.content h4{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.btnsobremim{
    color: #ffffff;
    background: #0965ce;
    border:solid 1px #ffffff;
    padding: 4px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
}

.btnsobremim:hover{
    transform: scale(1.1);
    background-color: #161d25;
    color: #fff;
    transition: 0.5s;
}

.about{
    margin-block-start: 85vh;
    width: 100%;
    padding: 70px 0px;
    background-color: white;
}


.main img{
    height: auto;
    width: 500px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    
    
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.about-text h6{
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    

}

.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.btncontato2{
    color: #ffffff;
    background: #0965ce;
    padding: 4px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
}


.btncontato2:hover{
    transform: scale(1.1);
    background-color: #161d25;
    color: #fff;
    transition: 0.5s;
}

.service{
    background: white;
    width: 100%;
    padding: 65px 0px;
}

.title h3{
    color: #0965ce;
    font-size: 65px;
    width: 1130px;
    margin: 15px auto;
    text-align: center;
    max-width: 95%;
}

.title h2{
    color: #0965ce;
    font-size: 55px;
    width: 1130px;
    margin: 15px auto;
    text-align: center;
    border-bottom: 3px solid #0965ce;
    max-width: 95%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 330px;
    width: 300px;
    padding: 20px 35px;
    background: rgb(240, 239, 239);
    border-radius: 15px;
    border:solid 3px black;
    margin: 15px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    
}

.card i{
    font-size: 40px;
    display: block;
    text-align: center;
    margin: 20px 0px;
    color: #0965ce;
}

.card h3{
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #000000;
    margin-bottom: -10px;
}

.card h4{
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #000000;
    margin-bottom: 20px;
}
.service h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 35px;
}

.pra p{
    color: #0965ce;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .btncontato3{
    color: #ffffff;
    background: #0965ce;
    padding: 4px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    transition: .4s;
    padding: 9px 22px;
}

.card .btncontato3:hover{
    transform: scale(1.1);
    background-color: #161d25;
    color: #fff;
    transition: 0.5s;
}

.bgcomofunciona{
    background: rgb(26, 28, 31);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 15px;
}

.comofuncionageral h1{
    color: #0851a5;
    font-size: 65px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    border-bottom: 3px solid #0851a5;
    max-width: 95%;

}

.comofunciona{
    width: 1000px;
    max-width: 90%;
    margin: 30px auto;
    text-align: center;
    align-items: center;
    
}

.comofunciona h2{
    display: flex;
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
    color: #0851a5;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.comofunciona p{
    letter-spacing: 1px;
    line-height: 28px;  
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    
}

.comofunciona p1{
    display: flex;
    letter-spacing: 1px;
    line-height: 28px; 
    font-weight: bold;
    font-size: 18px;
    color: rgb(175, 5, 5);
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
   
    
}


.textofim h2{
    margin-bottom: 50px;
    color: transparent;
    display: none;
}


.depoimentos{
    height: 768px;
    width: 680px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translate(-50%, -0%);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    
}

.slide img{
    height: 100%;
    width: 100%;
}

.navigation{

    bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bar{
    width: 15px;
    height: 15px;
    border: 3px solid #0965ce;
    margin: 6px;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s ease;
}

.bar:hover{
    background-color: #0965ce;
    
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
    
}

.slide{
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}


footer{
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #0965ce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(2){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(3){
    color: white;
    font-size: 17px;
    width: 800px;
    text-align: center;
    line-height: 26px;
    max-width: 95%;

}

footer p:nth-child(4){
    color: white;
    font-size: 17px;
    width: 600px;
    text-align: center;
    line-height: 26px;
    max-width: 95%;

}

.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    margin: 22px 10px;
    color: #0965ce;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.2);
    transition: .3s;
}

.end{
    position: absolute;
    color: white;
    bottom: 25px;
    font-size: 14px;

}

.end:hover{
    color: rgb(15, 22, 14);
}




@media (max-width: 1150px) {
    .about{
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    .main{
        display: inline;
        justify-items: center;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    .about-text{
        display: inline-block;
        text-align: center;
        position: relative;
        overflow: hidden;
        text-align: center;
        max-width: 95%;
    }

    .about-text h6{
        font-size: 80px;
    }
    
    .about-text h5{
        font-size: 40px;
    }
    
    .about-text p{
        font-size: 22px;
        text-align: justify;
    }

    .main img{
        max-width: 95%;
        max-height: auto;
    }

    .btncontato2{
        font-size: 25px;
        width: 300px;
    }
}

@media (max-width: 1050px) {


    .bx-menu{
        display: flex;
        color: white;
    }

    ul{
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0;
        height: 80%;
        z-index: 10000;
        padding: 1rem 0;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        
        
    }


    .textodonav{
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        text-align: center;
        font-size: 30px;
        background: #0757b3;
        padding-bottom: 20px;
        
    

    }

    nav ul li a{
        border-bottom: 1px solid #ffffff;
    }

    nav ul li a:hover{
        background: #161d25;
        
    }

    .btncontato{
        margin-top: 25px;
        margin-bottom: 5px;
        font-size: 25px;
        width: 300px;
        
    }

    .menu{
        height: 120px;
        transition: all .55s;
        background-color: #0965ce;
    
    }


    .nav ul.open{
        right: 0;
    }

    #nav.active #menu{
        height: 40vh;
        visibility: visible;
    }

    .logo{
        margin-top: 15px;
        height: 60px;
        width: auto;
    }

    .bx-menu{
        font-size: 40px;
    }
}

@media (max-width: 1050px) {

    .content h1{
        font-size: 90px;
    }
    
    .content h3{
        font-size: 40px;
    
    }
    
    .content h4{
        font-size: 35px;
        max-width: 95%;
        
    }
    
    .btnsobremim{
        font-size: 20px;
        width: 250px;
    }

    
    .depoimentos{
        height: 550px;
        width: 550px;
        
    }

    .card{
        height: 330px;
        
    }

    .pra p{
        font-size: 30px;
    }

    .card .btncontato3{
        font-size: 15px;
        width: 250px;
    }
    
    footer{
        height: 400px;
        
    }
    
    footer p:nth-child(2){
        font-size: 40px;
    }
    
    footer p:nth-child(3){
        font-size: 22px;
        margin-bottom: 10px;
        
    }
    
    footer p:nth-child(4){
        font-size: 25px;
    }
    
    .social a{
        width: 70px;
        height: 70px;
        font-size: 35px;
    }
    
    .end{
        font-size: 20px;
    }
        
}

@media (max-width: 920px){
    .box{
        display: block;
        align-items: center;
        justify-content: space-between;
        
        
    }
    .card{
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .textodonav{
        font-size: 30px;
        
    

    }
}


@media (max-width: 650px) {
    .depoimentos{
        height: 450px;
        width: 450px;
        
    }

}

@media (max-width: 500px) {
    .depoimentos{
        height: 350px;
        width: 350px;
        
    }

}

@media (max-width: 400px) {
    .depoimentos{
        height: 300px;
        width: 300px;
        
    }

}